/*  created by Sucha in Mar 2007
    last updated: 2022-09-01
 */


/* initial section */

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    background-color: #9ec5c9;
}


/* body section */

body {
    color: black;
    width: 100%;
    height: 100%;
    font: 14px/1.5 "Luxi Serif", Verdana, helvetica, sans-serif;
}

#body {
    background-color: transparent;
}

p {
    margin-top: .9em;
    margin-bottom: .9em;
}


/* sidebar section */

@media screen and (max-width: 1100px) {
    #sidebar {
        width: 15%;
        float: left;
        position: absolute;
        margin-left: 81.5%;
        margin-top: 6%;
        text-align: left;
    }
}

@media screen and (min-width: 1100px) {
    #sidebar {
        width: 15%;
        position: absolute;
        left: 50%;
        margin-left: 350px;
        max-width: 200px;
        margin-top: 6%;
        text-align: left;
    }
}

#sidebar p.header {
    color: #526568;
    margin-top: 2em;
    margin-bottom: .7em;
    font-size: 1.1em;
    font-weight: bold;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#sidebar li {
    margin: 0;
    padding: 0;
}

#searchform {
    text-align: left;
}

#searchtext {
    color: #657677;
    background-color: transparent;
    border: 1px solid #5a5a5a;
    width: 75%;
}


/* text section */

@media screen and (max-width: 1100px) {
    #text {
        width: 70%;
        float: left;
        position: absolute;
        overflow: hidden;
        margin-top: .5em;
        margin-bottom: 0;
        margin-left: 2.7%;
        padding-left: 2.5em;
        padding-right: 2em;
        padding-bottom: .5em;
        border: 1px solid gray;
        background-color: #efefef;
    }
}

@media screen and (min-width: 1100px) {
    #text {
        width: 70%;
        position: absolute;
        left: 50%;
        margin-left: -430px;
        max-width: 700px;
        overflow: hidden;
        margin-top: .5em;
        margin-bottom: 0;
        padding-left: 2.5em;
        padding-right: 2em;
        padding-bottom: .5em;
        border: 1px solid gray;
        background-color: #efefef;
    }
}

#foot {
    color: #63787b;
    margin-top: 2.3em;
    font-family: Verdana, Arial, sans-serif;
    font-size: 85%;
    text-align: center;
    position: relative;
    clear: both;
}

pre {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 3%;
    margin-right: 3%;
    padding: .5em;
    font-family: sans-serif;
    font-size: 90%;
    overflow: auto;
}

/* <code> in <pre> tag */
pre code {
    font-family: sans-serif;
}

/* pre.exmaple */
pre[ lang=example] {
    color: black;
    background-color: #fcfff3;
    border: 1px solid #5a5a5a;
    white-space: pre;
    overflow: auto;
}

pre.verse {
    font-family: monospace;
    white-space: pre;
    overflow: auto;
}


/* headline section */

h1 {
    color: #63787b;
    text-align: center;
    margin-top: .4in;
    margin-bottom: .2in;
    padding-bottom: .6em;
    font-size: 1.7em;
    font-weight: bold;
    font-family: "Bookman Old Style", serif;
}

h2 {
    color: #135680;
    margin-top: .7em;
    margin-bottom: .7em;
    font-weight: bold;
    font-size: 1.5em;
}

h3 {
    color: #976217;
    margin-top: 1em;
    margin-bottom: .8em;
    padding-left: 3px;
    font-weight: bold;
    font-size: 1em;
}

/* origin h2 */
div.date {
    color: #6d88cd;
    margin-top: 5.6em;
    margin-bottom: 1.5em;
    font-size: .9em;
    font-weight: bold;
}

/* origin h4 */
div.category {
    color: silver;
    margin-top: 1em;
    font-size: .9em;
    font-weight: normal;
}



em {
    font-style: italic;
}

strong {
    font-weight: bold;
}


/* links and img*/

a {
    color: #0061c4;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

/* origin h2 */
div.date a {
    color: #6d88cd;
    background-color: transparent;
    text-decoration: none;
}

div.date a:hover {
    color: #6d88cd;
    background-color: transparent;
    text-decoration: none;
}

/* origin h4 */
div.category a {
    color: silver;
    text-align: right;
}

/* h4 */
div.category a:hover {
    color: black;
    background-color: transparent;
}

img {
    border: 0;
    background-color: transparent;
}


/* list and pre-content and menu */

ul {
    margin-left: 1.5em;
    list-style-type: disc;
}

ol {
    margin-left: 2em;
    ;
}

li {
    margin-bottom: 3px;
}

dl.contents {
    margin-top: 0;
}

dt.contents {
    margin-bottom: 0;
}

dt {
    font-weight: bold;
    padding: 3px;
}

dd {
    margin: 0;
}

span {
    margin-top: 0;
    color: silver;
}


/* blogs calendar */

.calendar * {
    border: 0;
}

.calendar {
    margin: 0;
    padding: 0;
    margin-top: .5em;
    empty-cells: show;
    font-size: 13px;
}

.calendar caption {
    color: #526568;
    text-align: left;
    font-size: 13px;
}

.calendar td {
    color: #526568;
    padding: 2px;
    text-align: center;
    font-size: 13px;
}

.calendar th {
    color: #63787b;
    font-size: 12px;
}

.calendar a {
    font-weight: bold;
}


/* tables */

table {
    width: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border-collapse: collapse;
    empty-cells: show;
    table-layout: auto;
    font-size: 90%;
    font-family: "Luxi Serif", Verdana, helvetica, sans-serif;
}

thead {
    font-weight: bold;
    text-align: center;
    border: 1px solid gray;
}

th,
tr,
td {
    border: 1px solid gray;
    padding: 2px;
    padding-left: 5px;
}



/* rss_feeds */

a#rss_feeds {
    color: #ff3f3f;
    background-color: transparent;
    text-decoration: none;
}

a#rss_feeds:hover {
    color: white;
    font-weight: bold;
    background-color: #ff3f3f;
    text-decoration: none;
}

hr {
    display: none;
}

/* Footnote */


/* Source tag , more to see "emacs-wiki-srctag.el" */

/* pre.source */
pre[ lang=source] {
    color: black;
    background-color: #f4fffe;
    border: 1px solid #5a5a5a;
    font-family: "Courier New", monospace;
    white-space: pre;
    overflow: auto;
    text-indent: 0px;
}

pre[ lang=source] code {
    font-family: "Courier New", monospace;
    text-indent: 0px;
}

.builtin {
    color: #7580d5;
}

.comment {
    color: #a02200;
}

.doc {
    color: #a02200;
}

.constant {
    color: #894591;
}

.function-name {
    color: #1f5087;
}

.keyword {
    color: #159190;
    font-weight: bold;
}

.preprocessor {
    color: #489bdc;
}

.string {
    color: #9a4b43;
}

.type {
    color: #158715;
}

.variable-name {
    color: #967f00;
}

.comment-delimiter {
    color: #a02200;
}