/*  By sucha in Apirl, 2006
    last updated: 2022-09-01
 */

/* initial section */

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    background-color: #9ec5c9;
}


/* body section */

body {
    width: 100%;
    font: 14px/1.5 "Luxi Serif", Verdana, helvetica, sans-serif;
}

#body {
    background-color: transparent;
}


/* sidebar section*/

#sidebar {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#sidebar ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

/* text section */

@media screen and (max-width: 1100px) {
    #content {
        width: 70%;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30%;
        margin-bottom: 0.5em;
        padding-left: 2em;
        padding-right: 2em;
        padding-bottom: 0.5em;
        border: 1px solid gray;
        background-color: #efefef;
    }
}

@media screen and (min-width: 1100px) {
    #content {
        width: 70%;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 12%;
        margin-bottom: 0.5em;
        padding-left: 2em;
        padding-right: 2em;
        padding-bottom: 0.5em;
        border: 1px solid gray;
        background-color: #efefef;
    }
}

#text p {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1.7em;
    margin-right: 1.5em;
}

#news {
    margin-top: 1.5em;
    margin-bottom: 1em;
    color: #ec7373;
    font-weight: bold;
}

#foot {
    color: #526568;
    margin-top: 2.3em;
    font-family: Verdana, Arial, sans-serif;
    font-size: 85%;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
    position: relative;
    clear: both;
}

#bored a {
    color: #7da5b0;
    left: 0;
    bottom: 0;
    padding-left: 2px;
    position: absolute;
    font-size: 80%;
    text-decoration: none;
}

#bored a:hover {
    color: gray;
    text-decoration: none;
}


/* headline section */

h1 {
    color: #63787b;
    text-align: center;
    margin-top: 0.35in;
    margin-bottom: 0.2in;
    padding-bottom: 0.6em;
    font-size: 1.7em;
    font-weight: bold;
    font-family: "Bookman Old Style", serif;
}

/* link section */

a {
    color: #0061c4;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}